.c-profile .profile-img{
    height: 80%;
    /* width: 90%; */
    /* background-position: center center;
    background-repeat: no-repeat; */
    position: relative;
}

.c-profile {
    background-color: rgb(245, 245, 245);
    margin: 10px;
    text-align: center; /*ensures the image is always in the h-middle*/
    overflow: hidden; /*hide the cropped portion*/
    width: 200px;
    height: 200px;
    padding: 5px;
    cursor: pointer;
}

.c-profile  > .h5 {
    margin-bottom: 8px;
    font-family: 'Permanent Marker', cursive;
}